<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
          <h3>Edit Author: {{model.lastName}} {{model.firstName}}</h3>
      <div class="actions">
      </div>
      </div>
    </div>

<div class="slide-out-content">
    {{author-form author=model onsubmit=(action "saveAuthor")}}
</div>
  </div>
</div>